extends ../layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/details.css")
    link(rel="stylesheet", href="/css/stars.css")

block content
    .details-wrapper
        .imageUrl
            .poster-img
                img(src= item.imageUrl)
        .info
            .info-wrapper
                .title-row
                    .title
                        h1
                            span #{item.title}
                    .flag
                        img(src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Flag_of_the_United_States_%28Pantone%29.svg")
                .genres
                    each genre in item.genres
                        .genre
                            span #{genre}
                .raiting
                
                    //- if item.rating

                    .container
                        .progress
                            -var pr = item.rating ? item.rating : 0;
                            -var fm = pr <= 20 ? 0 : pr <= 40 ? 60 : pr <= 60 ? 120 : pr <= 80 ? 180 : 240;
                            -var sl = pr <= 60 ? 240 : pr <= 80 ? 120 : 0;
                            -var sm = pr <= 20 ? 60 : pr <= 40 ? 120 : 240;
                            .progress-bar(style=("--rating: " + pr + "; --fm: " + fm + "; --sl:" + sl + "; --sm:" + sm))
                                p #{item.rating}
                    //- else
                    //-     h3 Not rated yet!
                .header-info
                    if item.description
                        h3 Overview
                        .description
                            p #{item.description}
    .summary-wrapper
        .summary
            .item-wrapper
                if item.summary && item.summary.length > 0
                    each row in item.summary
                        .key(style=(row.value ? "" : "display:none;"))
                            p #{row.key}
                        .value(style=(row.value ? "" : "display:none;"))
                            p #{row.value}
                else
                    h3
                        i No know data!
                                                  
    .cast-wrapper
        h3 Cast and crew
        hr
        .cast-cell
            if item.cast && item.cast.length > 0
                each person in item.cast
    
                        .cast-item
                            .photo
                                img(src=person.photo)
                            .name
                                p #{person.name}
                            .position
                                p #{person.position}
            else
                h1 No known crew members